* {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: "Roboto", sans-serif;
  background: #282b38;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logo {
  margin-top: 26px;
}
.navigation_wrapper {
  display: flex;
  gap: 5%;
  width: 40%;
  margin-top: 41px;
}
.nav_link {
  text-decoration: none;
  color: white;
}
.btn {
  width: 10%;
  background: rgb(255 129 0);
  border-radius: 90px;
  margin-top: 25px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.describe_wrap {
  background-image: url(../background/Rectangle_3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  border-radius: 20px;
  margin-top: 26px;
}
.describe_title {
  width: 57%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.describe_text {
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.describe_text_path {
  width: 66%;
  font-weight: 700;
  font-size: 56px;
  line-height: 126%;
  color: #ffffff;
}
.describe_text_data {
  width: 50%;
  margin-top: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 135.5%;
  color: rgb(255 255 255 / 76%);
}
.button_wrap {
  background: rgb(255 129 0);
  border-radius: 90px;
  height: 68px;
  width: 42%;
  margin-top: 42px;
}
.button_wrap_calculation {
  display: flex;
  justify-content: center;
}
.button_wrap_calculation_btn {
  display: flex;
  background: rgb(255 129 0);
  text-decoration: none;
  color: white;
  padding-top: 25px;
  margin-right: 13%;
  border: none;
}
.button_wrap_calculation_img {
  height: 27px;
  padding-top: 0;
  margin-top: 21px;
}
.calculation_wrap {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
}
.calculation_form_wrapper {
  width: 26%;
  display: flex;
  flex-direction: column;
}
.calculation_form_title {
  position: relative;
  margin-top: 100px;
  width: 56%;
}
.calculation_title_text {
  width: 225%;
  font-weight: 700;
  font-size: 36px;
  line-height: 124.5%;
  color: rgb(255, 255, 255);
}
.calculation_form {
  width: 125%;
  height: 597px;
  background: #363a4d;
  margin-top: 62px;
  border-radius: 20px;
}

.form {
  margin-right: 50px;
}
.calculation_form_data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-left: 28px;
}
.calculation_form_data_text_grade {
  font-weight: 600;
  font-size: 15px;
  line-height: 126%;
  color: #ffffff;
}
.calculation_form_grade_input {
  padding-left: 20px;
  width: 120%;
  height: 56px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  outline: none;
}
.calculation_form_grade_input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #cbcbcb;
}
.calculation_form_price {
  margin-left: 80px;
}
.calculation_form_price_text_load {
  font-weight: 600;
  font-size: 15px;
  line-height: 126%;
  color: #ffffff;
}
.calculation_form_price_input {
  padding-left: 20px;
  width: 120%;
  height: 56px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  outline: none;
}
.calculation_form_price_input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #cbcbcb;
}
.calculation_form_values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-left: 28px;
}
.calculation_form_heft_load {
  font-weight: 600;
  font-size: 15px;
  line-height: 126%;
  color: #ffffff;
}
.calculation_form_heft_input {
  padding-left: 20px;
  width: 120%;
  height: 56px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  outline: none;
}
.calculation_form_heft_input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #cbcbcb;
}
.calculation_form_scope {
  margin-left: 80px;
}
.calculation_form_scope_text {
  display: flex;
}
.calculation_form_scope_text_load {
  font-weight: 600;
  font-size: 15px;
  line-height: 126%;
  color: #ffffff;
}
.calculation_form_scope_input {
  padding-left: 20px;
  width: 105%;
  height: 56px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  outline: none;
}
.calculation_form_scope_input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #cbcbcb;
}
.calculation_form_scope_text_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  color: #e58d35;
  margin-left: 5px;
}
.calculation_form_code {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
}
.calculation_form_code_title {
  margin-left: 15px;
  display: flex;
  margin-top: 19px;
}
.calculation_form_code_checkboxs {
  display: flex;
  flex-direction: column;
}
.calculation_form_code_checkboxs_coverage,
.calculation_form_code_checkboxs_сustoms-clearance {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #282b38;
  box-sizing: border-box;
  border-radius: 4px;
}
.calculation_form_code_checkboxs_сustoms-clearance {
  margin-top: 14px;
}
.calculation_form_code_title_text {
  margin-left: 9px;
  color: white;
}
.calculation_form_code_title_text_coverage {
  font-weight: 600;
  font-size: 15px;
  line-height: 126%;
}
.calculation_form_code_title_text_сustoms-clearance {
  margin-top: 18px;
}
.calculation_form_code_sms_text_tel {
  font-weight: 600;
  font-size: 15px;
  line-height: 126%;
  color: #ffffff;
}
.calculation_form_code_sms {
  margin-left: 53px;
}
.calculation_form_code_sms_input {
  padding-left: 20px;
  width: 114%;
  height: 56px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 6px;
  outline: none;
}
.calculation_form_code_sms_input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #cbcbcb;
}
.calculation_form_img {
  display: flex;
  margin-top: 34px;
  flex-direction: row;
  justify-content: space-between;
}
.calculation_form_img_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #ffffff;
  margin-left: 70px;
}
.calculation_form_img_text_del {
  font-weight: 400;
  font-size: 13px;
  line-height: 126%;
  color: #e53535;
  margin-right: 80px;
}
.calculation_form_btn {
  display: flex;
  justify-content: center;
  border: 1px dashed rgba(255, 255, 255, 0.26);
  box-sizing: border-box;
  border-radius: 10px;
  width: 84%;
  height: 43px;
  margin-left: 50px;
  margin-top: 14px;
}
.calculation_form_btn-img {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.calculation_form_btn_next {
  width: 40%;
  height: 68px;
  background: #e58d35;
  border-radius: 90px;
  margin-top: 26px;
  margin-left: 50px;
}
.calculation_form_btn_next_link {
  display: flex;
  justify-content: space-evenly;
}
.calculation_form_btn_next_link_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 146%;
  color: #ffffff;
  text-decoration: none;
  height: 67px;
  display: flex;
  align-items: center;
}
.information_wrap {
  width: 96%;
  height: 725px;
  background: #363a4d;
  border-radius: 20px;
  margin: 0 auto;
}
.information_wrap_title {
  display: flex;
  justify-content: center;
}
.information_wrap_title_text {
  margin-top: 90px;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 124.5%;
  color: #ffffff;
}
.information_wrap_title_hr {
  width: 14%;
  height: 2px;
  background: #e58d35;
  border: 0;
  margin: 19px auto;
}
.information_wrap_gains_imgs {
  display: flex;
  justify-content: space-evenly;
}
.information_wrap_gains_imgs-too {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.delivery_wrap {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 124.5%;
  color: #ffffff;
}
.delivery_wrap_hr {
  width: 14%;
  height: 2px;
  background: #89c249;
  border: 0;
  margin: 19px auto;
}
.delivery_wrap_variants {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.delivery_wrap_ordinary_box {
  width: 360px;
  height: 482px;
  background: #363a4d;
  border-radius: 20px;
}
.delivery_wrap_ordinary_box_img {
  background-image: url(../background/Rectangle_24.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 229px;
}
.delivery_wrap_ordinary_box_text {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
.delivery_wrap_ordinary_box_info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 13px;
}
.delivery_wrap_ordinary_box_info_days {
  display: flex;
}
.delivery_wrap_ordinary_box_info_days_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color: #ffffff;
  height: 26px;
  align-items: center;
  margin-left: 10px;
}
.delivery_wrap_ordinary_box_info_days_img {
  width: 22px;
  height: 22px;
}
.delivery_wrap_ordinary_box_info_heft {
  display: flex;
}
.delivery_wrap_ordinary_box_info_heft_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color: #ffffff;
  height: 26px;
  align-items: center;
  margin-left: 10px;
}
.delivery_wrap_ordinary_box_info_heft_img {
  width: 24px;
  height: 24px;
}
.delivery_wrap_ordinary_box_price {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 124.5%;
  color: white;
  margin-top: 20px;
}
.delivery_wrap_ordinary_btn-application{
  width: 126%;
  background: rgb(255 129 0);
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 146%;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.delivery_wrap_ordinary_box_btns {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.delivery_wrap_ordinary_btn-more {
  width: 153px;
  height: 50px;
  border: 1px solid #e58d35;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  height: 50px;
  background: transparent;
}
.delivery_wrap_fast-track_box {
  width: 360px;
  height: 482px;
  background: #363a4d;
  border-radius: 20px;
}
.delivery_wrap_fast-track_img {
  background-image: url(../background/Rectangle_25.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 229px;
}
.delivery_wrap_fast-track_box_text {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
.delivery_wrap_fast-track_box_info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 13px;
}
.delivery_wrap_fast-track_box_info_days {
  display: flex;
}
.delivery_wrap_fast-track_box_info_days_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color: #ffffff;
  height: 26px;
  align-items: center;
  margin-left: 10px;
}
.delivery_wrap_fast-track_box_info_days_img {
  width: 22px;
  height: 22px;
}
.delivery_wrap_fast-track_box_info_helf {
  display: flex;
}
.delivery_wrap_fast-track_box_info_helf_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color: #ffffff;
  height: 26px;
  align-items: center;
  margin-left: 10px;
}
.delivery_wrap_fast-track_box_info_helf_img {
  width: 24px;
  height: 24px;
}
.delivery_wrap_fast-track_box_price {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 124.5%;
  color: white;
  margin-top: 20px;
}
.delivery_wrap_fast-track_btn-application{
  width: 126%;
  background: rgb(255 129 0);
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 146%;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.delivery_wrap_fast-track_btn-more {
  width: 153px;
  height: 50px;
  border: 1px solid #e58d35;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  height: 50px;
  background: transparent;
}
.delivery_wrap_fast-track_box_btns {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.delivery_wrap_fast-tracked_img {
  background-image: url(../background/Rectangle_26.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 229px;
}
 .services_wrap {
  width: 96%;
  margin: 100px auto;
  height: 794px;
  border-radius: 20px;
  background: #363a4d;
}
.services_wrap_text {
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 124.5%;
  color: #ffffff;
  padding-top: 97px;
}
.services_wrap_hr {
  margin: 20px auto;
  border: 0;
  width: 85px;
  height: 2px;
  background: #e58d35;
}
.favors_wrapper {
  display: flex;
  justify-content: space-evenly;  
  margin-top: 50px;
}
.buyback_wrapper {
  background-image: url(../background/Rectangle_27.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 482px;
}
.buyback_wrapper_texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 363px;
  margin-left: 42px;
}
.buyback_wrapper_text-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 124.5%;
  color: #ffffff;
}
.buyback_wrapper_text-basic {
  font-weight: 400;
  font-size: 15px;
  line-height: 124.5%;
  color: #ffffff;
  width: 84%;
}
.favors_wrapper_btn {
  margin-left: 42px;
  margin-top: 10px;
}
.favors_wrapper_btn_more {
  width: 153px;
  height: 50px;
  border: 1px solid #e58d35;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  height: 50px;
  background: transparent;
}
.cargo-insurance_wrapper {
  background-image: url(../background/Rectangle_28.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 482px;
}
.cargo-insurance_wrapper_texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 363px;
  margin-left: 42px;
}
.cargo-insurance_wrapper_text-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 124.5%;
  color: #ffffff;
}
.cargo-insurance_wrapper_text-basic {
  font-weight: 400;
  font-size: 15px;
  line-height: 124.5%;
  color: #ffffff;
  width: 84%;
}
.warehouse-rental_wrapper {
  background-image: url(../background/Rectangle_29.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 482px;
}
.warehouse-rental_wrapper_texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 363px;
  margin-left: 42px;
}
.warehouse-rental_wrapper_texts-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 124.5%;
  color: #ffffff;
}
.warehouse-rental_wrapper_texts-basic {
  font-weight: 400;
  font-size: 15px;
  line-height: 124.5%;
  color: #ffffff;
  width: 84%;
}
.company-profile_wrapper {
  display: flex;
  justify-content: center;
}
.company-profile_texts-wrap {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 145px;
}
.company-profile_text-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 124.5%;
  color: #ffffff;
}
.company-profile_texts_hr {
  width: 15%;
  height: 2px;
  background: #89c249;
  border: 0;
  margin-top: 19px;
}
.company-profile_text-basic {
  width: 103%;
  font-weight: 300;
  font-size: 18px;
  line-height: 170%;
  margin-top: 45px;
  color: #ffffff;
}
.company-profile_wrapper_img {
  background-image: url(../background/img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 31%;
  height: 632px;
  margin-top: 73px;
}
.questions_title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 124.5%;
  color: #ffffff;
}
.questions_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.questions_wrapper-title {
  display: flex;
  flex-direction: column;
  width: 38%;
}
.questions_wrapper_box {
  display: flex;
  justify-content: space-between;
  height: 64px;
  border: 1px solid #3a444e;
  border-radius: 10px;
  margin-bottom: 16px;
}
.questions_wrapper_box_text {
  font-weight: 700;
  font-size: 18px;
  line-height: 124.5%;
  color: #ffffff;
  padding-top: 21px;
  padding-left: 34px;
  padding-bottom: 21px;
}
.questions_wrapper_box_img {
  padding-right: 20px;
}
.questions_wrapper_box-open {
  display: flex;
  justify-content: space-between;
  height: 152px;
  border: 1px solid #3a444e;
  border-radius: 10px;
  margin-bottom: 16px;
  background: #ffffff;
}
.questions_wrapper_box_texts-open {
  display: flex;
  flex-direction: column;
}
.questions_wrapper_box_text_title-open {
  font-weight: 700;
  font-size: 18px;
  line-height: 124.5%;
  color: #282b38;
  padding-top: 21px;
  padding-left: 34px;
}
.questions_wrapper_box_text_basic-open {
  width: 92%;
  font-weight: 300;
  font-size: 17px;
  line-height: 144.5%;
  color: #282b38;
  padding-top: 12px;
  padding-left: 34px;
}
.questions_wrapper_box_img-open {
  padding-right: 20px;
  padding-top: 19px;
  padding-bottom: 100px;
}
.questions_form {
  margin-left: 31px;
  width: 20.5%;
  height: 553px;
  background: #363a4d;
  border-radius: 20px;
}
.questions_form_texts {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-left: 40px;
}
.questions_form_text-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 126%;
  color: #ffffff;
}
.questions_form_text-basic {
  width: 78%;
  font-weight: 300;
  font-size: 17px;
  line-height: 126%;
  color: #ffffff;
  margin-top: 8px;
}
.questions_form_inputs {
  margin-top: 23px;
}
.questions_input {
  display: flex;
  width: 81%;
  margin: 0 auto 14px;
  height: 56px;
  background: #ffffff;
  border-radius: 10px;
  border: 0;
  /* bad practice */
  /* зачем и margin и margin-bottom */
  outline: none;
  padding-left: 20px;
}
.questions_input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 126%;
  color: #cbcbcbd2;
}
.questions_form_btn-box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 79.5%;
  height: 68px;
  background: #e58d35;
  border-radius: 90px;
  cursor: pointer;
}
.questions_form_btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 146%;
  text-decoration: none;
  height: 67px;
  display: flex;
  align-items: center;
  background: transparent;
  color: white;
  border: 0;
}
.questions_form_img {
  width: 27px;
}
.collaboration_wrapper {
  width: 96%;
  height: 1265px;
  border-radius: 20px;
  margin: 100px auto;
  background: #363a4d;
}
.collaboration_wrapper_title {
  display: flex;
  justify-content: center;
  padding-top: 97px;
}
.collaboration_wrapper_text-title {
  font-weight: 700;
  font-size: 36px;
  color: white;
}
.collaboration_wrapper_text-basic {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 100;
  color: white;
  margin-top: 15px;
}
.collaboration_wrapper_title_hr {
  width: 16%;
  height: 2px;
  background: #89c249;
  border: 0;
  margin: 19px auto;
}
.collaboration_describe {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.collaboration_describe_texts {
  gap: 25px;
  display: flex;
  flex-direction: column;
  width: 30.5%;
  font-weight: 300;
  font-size: 17px;
  line-height: 156.5%;
  color: white;
}
.collaboration_describe_img {
  background-image: url(../background/Rectangle_30.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30.5%;
  height: 406px;
  border-radius: 20px;
  margin-left: 30px;
}
.collaboration_describe_img-second {
  background-image: url(../background/Rectangle_31.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30.5%;
  height: 406px;
  border-radius: 20px;
  margin-right: 30px;
}
.collaboration_describe_btn-box {
  display: flex;
  justify-content: space-around;
  width: 49.5%;
  height: 68px;
  background: #e58d35;
  border-radius: 90px;
  cursor: pointer;
}
.collaboration_describe_btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 146%;
  text-decoration: none;
  height: 67px;
  display: flex;
  align-items: center;
  background: transparent;
  color: white;
  border: 0;
}
.collaboration_describe_arrow {
  width: 27px;
}
.footer_container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.footer_container_hr {
  margin: 0 auto;
  width: 60%;
  height: 2px;
  border: 0;
  background: #e58d35;
}
.footer_container-box {
  width: 100%;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.footer_info {
  display: flex;
  flex-direction: column;
  width: 13%;
}
.footer_info_img {
  width: 172px;
  margin-bottom: 30px;
}
.footer_info_tel, .footer_info_e-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 162.5%;
  color: white;
}
.footer_info_e-mail {
  margin-top: 5px;
}
.footer_info_text, .footer_info_address {
  font-weight: 400;
  font-size: 14px;
  line-height: 162.5%;
  color: white;
  margin-top: 5px;
}
.footer_info_address {
  margin-bottom: 15px;
}
.footer_messengers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 146%;
  color: #ffffff;
}
.footer_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 160.5%;
  color: #85899c;
  margin-top: 5px;
}
.footer_navigation {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
}
